<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160595125880-jq84rgfs40ofei0pog76adu2hho9sb4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160595125880-jq84rgfs40ofei0pog76adu2hho9sb4d</string>
	<key>API_KEY</key>
	<string>AIzaSyD8kaDtckGrvpF4dJ6Nf0TvbsC0D7l1g94</string>
	<key>GCM_SENDER_ID</key>
	<string>160595125880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatty.app.Chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-app-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-app-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160595125880:ios:6374e3e7bc3ef30aacaf8d</string>
</dict>
</plist>